/* GENERAL */
body {
  min-height: 100vh;
  margin: 0;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
body.main {
  overflow: hidden;
}
body.light {
  background-color: #fcfcfc;
  color: #1d1d1d;
}
body.light.main {
  background-color: #6d6d6d;
}

h1 {
  color: #08d9d6;
  text-align: center;
  font-weight: 600;
}
.light h1 {
  color: #ff8811;
}

/* Theme transition */
.colorTransition {
  transition: all 0.4s ease-in-out;
}

/* PAGES TRANSITIONS */
.layout-enter-active,
.layout-leave-active,
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s ease-in-out;
}
.layout-enter,
.layout-leave-active,
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* MAPS */

#mapContainer {
  height: 100%;
}
#google-map {
  height: inherit;
  width: inherit;
}
.mapRow,
.mapCol {
  height: 100%;
}

/* BUTTONS */
.outlineBtn,
#confirmModal button {
  background: none;
  border-radius: 0.25rem;
  margin: 0.2rem 0.4rem;
  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in-out;
}

/* MODAL */
.modal-header {
  border-bottom: 1px solid #292929;
}
.light .modal-header {
  border-bottom: 1px solid #cecece;
}
.modal-footer {
  border-top: none;
}
.modal-content {
  background-color: #1d1d1d;
  color: #fff;
}
.light .modal-content {
  background-color: #fcfcfc;
  color: #1d1d1d;
}
/* close btn */
.close {
  color: #ff2e63;
  text-shadow: none;
  opacity: 1;
}
.close:hover {
  color: #ff2e63;
}
/* Title */
.modalTitle {
  color: #ff2e63;
}
/* Text input */
.textInput {
  background-color: #292929;
  border: 1px solid #000;
  color: #fff;
}
.textInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 217, 214, 0.15);
  border: 1px solid #000;
  background-color: #292929;
  color: #fff;
}
.light .textInput {
  background-color: #e2e2e2;
  border: 1px solid rgb(163, 163, 163);
  color: #1d1d1d;
}
.light .textInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 217, 214, 0.15);
  border: 1px solid rgb(163, 163, 163);
  background-color: #e2e2e2;
  color: #1d1d1d;
}

/* Buttons */
.cancelBtn,
#confirmModal button.btn-secondary {
  color: #838383;
  border: 1px solid #838383;
}
.cancelBtn:hover,
#confirmModal button.btn-secondary:hover {
  background-color: #292929;
  color: #fff;
}
.light .cancelBtn:hover,
.light #confirmModal button.btn-secondary:hover {
  background-color: #838383;
  color: #e2e2e2;
}

.okBtn,
#confirmModal button.btn-primary {
  color: #ff2e63;
  border: 1px solid #ff2e63;
}
.okBtn:hover,
#confirmModal button.btn-primary:hover {
  background-color: #ff2e63;
  color: #fff;
}
